<a href="https://colab.research.google.com/github/annakaminska9898/data-science-bootcamp/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.1.5'

In [3]:
#obiekty series

s= pd.Series(data=[3,4,5,6])
s

0    3
1    4
2    5
3    6
dtype: int64

In [8]:
s = pd.Series(data=[3.,4,5,6], index=['a','b','c','d'], name='sample')
s

a    3.0
b    4.0
c    5.0
d    6.0
Name: sample, dtype: float64

In [9]:
#wstawianie brak√≥w danych

import numpy as np

np.nan

s = pd.Series(data=[3.,np.nan,5,6], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    5.0
d    6.0
Name: sample, dtype: float64

In [13]:
s = pd.Series(data=[True, False, True])
s

0     True
1    False
2     True
dtype: bool

In [15]:
#DATY!!!

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [16]:
s= pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [23]:


#DANE TEKSTOWE

s= pd.Series(data=['java','python'], index=(1,2), name='languages' )
s

1      java
2    python
Name: languages, dtype: object

In [24]:
s.index

Int64Index([1, 2], dtype='int64')

In [26]:
s= pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s
s.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [30]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [32]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [31]:
s.dtypes

dtype('int64')

In [33]:
s.shape

(10,)

In [47]:
#wycinanie danych

price= pd.Series(data={'apple':200, 'cd project':60, 'amazon':1900, 'KGHM':np.nan})
price

apple          200.0
cd project      60.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [35]:
price.index

Index(['apple', 'cd project', 'amazon'], dtype='object')

In [37]:
price['cd project']

60

In [38]:
price[1]

60

In [48]:
price.count()

3

In [50]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [42]:
price.sum()

2160

In [43]:
price.min()

60

In [51]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [53]:
#najlepsze i najgorsze obiekty
price.nlargest(1)

amazon    1900.0
dtype: float64

In [54]:
price.nlargest(2)

amazon    1900.0
apple      200.0
dtype: float64

In [55]:
price.nsmallest()

cd project      60.0
apple          200.0
amazon        1900.0
dtype: float64

In [56]:
price.rank()

apple         2.0
cd project    1.0
amazon        3.0
KGHM          NaN
dtype: float64

In [57]:
price.sort_values()

cd project      60.0
apple          200.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [58]:
price.sort_values(ascending=False)

amazon        1900.0
apple          200.0
cd project      60.0
KGHM             NaN
dtype: float64

In [59]:
#funkcja APPLY

price.apply(lambda x:x*3.8)

apple          760.0
cd project     228.0
amazon        7220.0
KGHM             NaN
dtype: float64

In [60]:
price

apple          200.0
cd project      60.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [61]:
price_pln = price.apply(lambda x:x*3.8)

In [62]:
price_pln

apple          760.0
cd project     228.0
amazon        7220.0
KGHM             NaN
dtype: float64

In [64]:
#DATAFRAMES
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [65]:
df = pd.DataFrame(data=[12,12,32], index=['first','second','third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [67]:
df = pd.DataFrame(data={'WIG20':['PKN ORLEN','PKO'], 
                       'MWIG40':['AMIKA','PLAYWELL']})
df

       WIG20    MWIG40
0  PKN ORLEN     AMIKA
1        PKO  PLAYWELL

In [69]:
df= pd.DataFrame(data=[[12,12,13],[12,7,8]], index=['first','second'], columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      12     12     13
second     12      7      8

In [70]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [71]:
df.index

Index(['first', 'second'], dtype='object')

In [72]:
df.values

array([[12, 12, 13],
       [12,  7,  8]])

In [73]:
df.info

<bound method DataFrame.info of         col_1  col_2  col_3
first      12     12     13
second     12      7      8>

In [74]:
df.describe()

       col_1      col_2      col_3
count    2.0   2.000000   2.000000
mean    12.0   9.500000  10.500000
std      0.0   3.535534   3.535534
min     12.0   7.000000   8.000000
25%     12.0   8.250000   9.250000
50%     12.0   9.500000  10.500000
75%     12.0  10.750000  11.750000
max     12.0  12.000000  13.000000

In [75]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_2    2.0   9.5  3.535534   7.0   8.25   9.5  10.75  12.0
col_3    2.0  10.5  3.535534   8.0   9.25  10.5  11.75  13.0

In [76]:
#WYCINANIE INFORMACJI

df['col_1']

first     12
second    12
Name: col_1, dtype: int64

In [77]:
type(df['col_1'])

pandas.core.series.Series

In [78]:
df[['col_1']]

        col_1
first      12
second     12

In [79]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [80]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [81]:
df.columns = ['a','b','c']

In [82]:
df

         a   b   c
first   12  12  13
second  12   7   8

In [83]:
df.a

first     12
second    12
Name: a, dtype: int64

In [84]:
df.columns = ['a','sprzedaz grudzien','c']
df

         a  sprzedaz grudzien    c
first   12                  12  13
second  12                   7   8

In [85]:
df.sprzedaz grudzien

SyntaxError: ignored

In [86]:
df.columns = ['a','sprzedaz_grudzien','c']
df

         a  sprzedaz_grudzien   c
first   12                 12  13
second  12                  7   8

In [87]:
df.sprzedaz_grudzien

first     12
second     7
Name: sprzedaz_grudzien, dtype: int64

In [88]:
df['d']= df.a +df.c
df

         a  sprzedaz_grudzien   c   d
first   12                 12  13  25
second  12                  7   8  20

In [89]:
df= pd.DataFrame(data=[[12,12,13],[12,7,8]], index=['first','second'], columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      12     12     13
second     12      7      8

In [90]:
df.loc['first']

col_1    12
col_2    12
col_3    13
Name: first, dtype: int64

In [91]:
df.iloc[0]

col_1    12
col_2    12
col_3    13
Name: first, dtype: int64

In [92]:
df.loc['first','col_2']

12

In [93]:
df.iloc[0,1]

12